.banner-mask {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

:host ::ng-deep .p-carousel-item.p-carousel-item-active+.p-carousel-item.p-carousel-item-active .banner-mask {
  opacity: 0;
}

:host ::ng-deep .p-carousel-item.p-carousel-item-active+.p-carousel-item.p-carousel-item-active+.p-carousel-item.p-carousel-item-active .banner-mask {
  opacity: 1;
}

.banner.is-center .banner-mask {
  opacity: 0;
}

.banner {
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
  border-radius: 16px;
  aspect-ratio: 16 / 9;
  height: auto;
  max-height: 250px;
}


.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-title {
  position: absolute;
  bottom: 16px;
  left: 16px;
  padding: 8px 14px;
  background: rgba(0, 0, 0, 0.55);
  color: #fff;
  border-radius: 12px;
  font-size: 1rem;
}

.ng-star-inserted:hover {
  cursor: pointer;
  transform: scale(1.01);
}

@media (max-width: 768px) {
  .banner-title {
    bottom: 2px;
    left: 2px;
    padding: 4px 10px;
    font-size: 12px;
  }
}


// focus 時文字(placeholder)在邊框的顏色 (( 輸入文字 type = input
.p-floatlabel:has(input:focus) label {
  color: #662222 !important;
  font-weight: 600;
}
// focus 時文字(placeholder)在邊框的顏色 (( 經營類別 type = select
::ng-deep .p-floatlabel:has(.p-focus) label {
  color: #662222 !important;
}

/* 當 Dialog 開啟時，鎖死所有可能的容器 */
.p-overflow-hidden,
.p-overflow-hidden body,
.p-overflow-hidden .topbar-wrapper,
.p-overflow-hidden main {
  overflow: hidden !important;
  height: 100vh !important;
}
/* 建立一個自定義類別 */
.hide-scrollbar {
  /* 針對 IE, Edge */
  -ms-overflow-style: none;
  /* 針對 Firefox */
  scrollbar-width: none;
  /* 針對 Chrome, Safari, Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #662222;
}
