p{
  margin: 10px 0px;
}
.editIcon{
  background-color: rgb(55, 76, 69);
}
.custom-dialog .p-dialog-header {
  background-color: #662222;
  color: #ffffff;
}

.custom-dialog .p-dialog-header-icon {
  color: #ffffff;
}
