// focus 時文字(placeholder)在邊框的顏色 (( 輸入文字 type = input
.p-floatlabel:has(input:focus) label {
  color: #662222 !important;
  font-weight: 600;
}

// focus 時營業、休息時間的邊框
::ng-deep {
  .p-datepicker:not(.p-disabled).p-focus > .p-inputtext {
    border: 1px !important;
    border-color: #662222 !important;
    box-shadow: 0 0 0 0.2rem rgba(102, 34, 34) !important;
  }
}

:ng-deep .custom-select.p-select:not(.p-disabled).p-focus {
  border-color: #662222 !important;
  box-shadow: 0 0 0 1px #662222 !important;
}

:ng-deep .p-select-option.p-highlight {
  background: rgba(102, 34, 34, 0.1) !important;
  color: #662222 !important;
}

// focus 時文字(placeholder)在邊框的顏色 (( 經營類別 type = select
::ng-deep .p-floatlabel:has(.p-focus) label {
  color: #662222 !important;
}

::ng-deep {
  /* 勾選後的背景顏色 */
  .p-checkbox-checked .p-checkbox-box {
    background: #662222 !important;
    border-color: #662222 !important;
  }

  /* 滑鼠懸停在勾選框時的顏色 (選配) */
  .p-checkbox:not(.p-disabled):hover .p-checkbox-box {
    border-color: #662222 !important;
  }

  /* Focus 時的陰影顏色 (選配) */
  .p-checkbox:not(.p-disabled).p-focus .p-checkbox-box {
    box-shadow: 0 0 0 0.2rem rgba(102, 34, 34, 0.2) !important;
    border-color: #662222 !important;
  }
}
