<div class="max-w-5xl mx-auto p-8 bg-white shadow-xl rounded-2xl mt-10">
  <h2 class="text-3xl font-extrabold mb-8 text-gray-800 border-b-2 border-gray-100 pb-4">
    店家資訊<i class="pi pi-plus-circle ml-2 "></i>
  </h2>
  <!-- <div class="relative">
    <input type="file" (change)="onFileChange($event)" class="absolute inset-0 opacity-0 cursor-pointer"
      accept="image/*" />掃描菜單
  </div> -->

  <div class="grid grid-cols-1 md:grid-cols-2 gap-y-8 gap-x-6 text-lg">

    <div class="w-full flex">
      <div class="h-12 flex items-center px-3 border border-gray-300 border-r-0 rounded-l-lg bg-white text-slate-700">
        <i class="pi pi-shop"></i>
      </div>

      <p-floatLabel variant="on" class="flex-1">
        <p-autoComplete [(ngModel)]="storeData.name" [suggestions]="filteredStores"
          (completeMethod)="searchStore($event)" (onSelect)="onStoreSelect($event)" optionLabel="name"
          inputId="storeName" class="w-full" inputStyleClass="w-full h-12 border border-gray-300 border-l-0 rounded-r-lg pl-3
            focus:!border-[#662222] focus:!shadow-none outline-none transition-all" />

        <label for="storeName">店家名稱</label>
      </p-floatLabel>
    </div>


    <div class="flex flex-col gap-2">
      <p-inputgroup class="h-12">
        <p-inputgroup-addon class="text-slate-700!">
          <i class="pi pi-phone"></i>
        </p-inputgroup-addon>

        <p-floatlabel variant="on">
          <input pInputText id="phone" name="phone" [(ngModel)]="storeData.phone" #phoneModel="ngModel"
            (input)="onPhoneInput($event)" (blur)="checkPhone(storeData.phone)" [pattern]="phoneRegex" required class="border border-gray-300 focus:!border-[#662222] focus:!shadow-none
            outline-none w-full p-2 pl-3 rounded-r-xl transition-all" />
          <label for="phone">聯絡電話</label>
        </p-floatlabel>
      </p-inputgroup>

      @if (phoneModel.invalid && phoneModel.touched) {
      <small class="text-red-600 text-xs">
        請輸入正確電話號碼不含連字號(格式：061234567 / 0912345678)
      </small>
      }@else if (isPhoneUsed) {
      <small class="text-red-600 text-xs">此電話號碼已使用過</small>
      }
    </div>


    <div class="flex flex-col gap-2">
      <p-inputgroup class="h-12">
        <p-inputgroup-addon class="bg-gray! text-slate-700! border-r-0!">
          <i class="pi pi-objects-column"></i>
        </p-inputgroup-addon>
        <p-floatlabel class="w-full md:w-56" variant="on">
          <p-select [(ngModel)]="storeData.category" id="on_label" [options]="category" optionLabel="name"
            optionValue="value" />
          <label for="on_label" class="text-slate-700 font-bold">經營類別</label>
        </p-floatlabel>
      </p-inputgroup>
    </div>

    <div class="flex flex-col gap-2">
      <p-inputgroup class="h-12">
        <p-inputgroup-addon class="bg-gray-50! text-slate-700! border-r-0!">
          <i class="pi pi-tag"></i>
        </p-inputgroup-addon>
        <p-floatlabel class="w-full md:w-56" variant="on">
          <p-select [(ngModel)]="storeData.type" inputId="on_label" [options]="groupedType" optionLabel="name"
            optionValue="code" class="w-full" />
          <label for="on_label">店家類型</label>
        </p-floatlabel>
      </p-inputgroup>
    </div>

    <div class="flex flex-col gap-2 md:col-span-2 mt-2">
      <div class="">
        <i class="pi pi-map-marker"></i>
        <label class="font-bold text-gray-700 ml-2">店家地址</label>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-4 gap-2 flex">
        <p-select [(ngModel)]="selectedCity" [options]="cityOptions" optionLabel="CityName" dataKey="CityName"
          placeholder="選擇縣市" class="w-full h-12" (onChange)="onCityChange()"> </p-select>

        <p-select [(ngModel)]="selectedDistrict" [options]="selectedCity?.AreaList || []" optionLabel="AreaName"
          dataKey="AreaName" placeholder="選擇地區" [disabled]="!selectedCity" class="w-full h-12"
          (onChange)="updateFullAddress()"> </p-select>

        <div class="md:col-span-2">
          <p-inputgroup class="h-12">
            <input pInputText [(ngModel)]="detailAddress" (input)="updateFullAddress()" (blur)="updateFullAddress()"
              placeholder="街道門牌號碼、樓層" class="border border-gray-300 focus:!border focus:!border-[#662222]
              focus:!shadow-none outline-none w-full p-2 pl-3 rounded-r-xl transition-all" />
          </p-inputgroup>
        </div>
      </div>

      <div class="flex justify-between items-center ml-1">
        <div class="text-sm text-gray-400">
          <span class="font-medium text-gray-500">目前儲存地址：</span>
          {{ storeData.address || '尚未輸入完整地址' }}
        </div>
      </div>
    </div>

    <!-- 時段 -->
    <div class="flex flex-col gap-6 p-4 bg-white rounded-xl border border-gray-200 shadow-xs">
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-2 ">
          <i class="pi pi-calendar-plus text-gray-700"></i>
          <span class="font-bold text-lg text-gray-700">營業時段配置</span>
        </div>
        <button type="button" (click)="addTimeSlot()" class="flex items-center gap-1 px-4 py-2
        bg-[#662222] text-white rounded-lg  hover:brightness-110 cursor-pointer transition-all">
          <i class="pi pi-plus pi-sm"></i>新增時段
        </button>
      </div>
      <p class="text-base text-gray-700 font-semibold mt-4">若同一日有多個時段（如午餐/晚餐），請新增多組配置。</p>
      <div class="flex items-center">
        <p-checkbox [(ngModel)]="openDaily" [binary]="true" (onChange)="onOpenDailyChange()" />
        <label class="ml-2 text-base cursor-pointer text-gray-800 font-semibold">
          全年無休
        </label>
      </div>
      <div class="flex flex-row flex-wrap gap-4 w-full">
        @for(slot of timeSlots; track $index; let i = $index) {
        <div class="relative p-5 rounded-2xl bg-gray-50 border border-gray-100 flex flex-col gap-4">

          @if(timeSlots.length > 1) {
          <button (click)="removeTimeSlot(i)"
            class="absolute -top-2 -right-2 w-8 h-8 bg-white border border-red-100 text-red-500 rounded-full shadow-sm hover:bg-red-50 transition-colors">
            <i class="pi pi-trash"></i>
          </button>
          }

          <div>
            <span class=" flex block mb-2 text-base font-bold text-gray-800">適用星期 ({{i + 1}})</span>
            <div class="flex flex-wrap gap-2">
              @for(week of weeks; track week.key) {
              <div class="flex items-center px-3 py-2 bg-white rounded-lg border border-gray-200">
                <p-checkbox [id]="'slot-' + i + '-' + week.key" [value]="week.key" [(ngModel)]="slot.selectedWeeks"
                  [disabled]="openDaily" />
                <label [for]="'slot-' + i + '-' + week.key"
                  class="ml-2 text-base cursor-pointer text-gray-800 font-semibold">
                  {{ week.name }}
                </label>
              </div>
              }
            </div>
          </div>

          <div class="flex flex-wrap items-center gap-6">

            <div class="flex-1 min-w-[200px]">
              <label class="block mb-2 text-sm font-bold text-gray-700 uppercase">開始營業</label>
              <div class="flex items-center gap-2">
                <p-select [options]="hours" [(ngModel)]="slot.openHour" placeholder="時"
                  styleClass="h-11 flex items-center" [disabled]="openDaily"></p-select>
                <span class="font-bold">:</span>
                <p-select [options]="minutes" [(ngModel)]="slot.openMinute" placeholder="分"
                  styleClass="h-11 flex items-center" [disabled]="openDaily"></p-select>
              </div>
            </div>

            <div class="flex-1 min-w-[200px]">
              <label class="block mb-2 text-sm font-bold text-gray-700 uppercase">打烊時間</label>
              <div class="flex items-center gap-2">
                <p-select [options]="hours" [(ngModel)]="slot.closeHour" placeholder="時"
                  styleClass="h-11 flex items-center" [disabled]="openDaily"></p-select>
                <span class="font-bold">:</span>
                <p-select [options]="minutes" [(ngModel)]="slot.closeMinute" placeholder="分"
                  styleClass="h-11 flex items-center" [disabled]="openDaily"></p-select>
              </div>
            </div>

          </div>
        </div>
        }
      </div>
    </div>
    <!--------------->

    <!-- 公里運費配置 -->
    <div class="flex flex-col gap-6 p-4 bg-white rounded-xl border border-gray-200 shadow-xs">
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-2">
          <i class="pi pi-truck text-gray-700"></i>
          <span class="font-bold text-lg text-gray-700">運費級距配置</span>
        </div>
        <button type="button" (click)="addFeeRow()" class="flex items-center gap-1 px-4 py-2
          bg-[#662222] text-white cursor-pointer rounded-lg  hover:brightness-110 transition-all">
          <i class="pi pi-plus text-sm"></i>新增級距
        </button>
      </div>

      <div class="flex gap-3 p-4 bg-amber-50 -mt-2">
        <i class="pi pi-info-circle text-amber-600 mt-1"></i>
        <div class="text-base font-semibold text-amber-800 leading-relaxed">
          <p class="font-bold text-base mb-1">填寫須知：</p>
          此欄位僅限於使用<span class="text-[#662222]">「依公里計算運費」</span>時填寫。
          若是「滿額才外送」等規則，不須填寫此處，請統一寫在 <strong class="text-[#662222]">「店家備註」</strong> 中。
        </div>
      </div>

      <div class="grid grid-cols-1 gap-6">
        @for(shippingFee of storeData.feeDescription; track $index; let i = $index) {
        <div class="relative p-5 rounded-2xl bg-gray-50 border border-gray-100 flex flex-col gap-4">

          @if(storeData.feeDescription) {
          <button (click)="removeFeeRow(i)"
            class="absolute -top-2 cursor-pointer -right-2 w-8 h-8 bg-white border border-red-100 text-red-500 rounded-full shadow-sm hover:bg-red-50 transition-colors z-10">
            <i class="pi pi-trash"></i>
          </button>
          }
          <div class="flex flex-col gap-4">
            <span class="block text-base font-bold text-gray-700">級距設定 ({{i + 1}})</span>

            <div class="flex flex-wrap md:flex-nowrap items-center gap-4">
              <div class="flex items-center gap-3 mb-3">

                <div class="flex-1 min-w-[120px]">
                  <label class="block mb-1 text-base font-bold text-gray-700 uppercase tracking-wider">公里數
                    (KM)</label>
                  <p-inputnumber [(ngModel)]="shippingFee.km" [minFractionDigits]="1" [maxFractionDigits]="2"
                    styleClass="w-full" inputStyleClass="w-full h-11 border border-gray-300 rounded-lg
                      px-3 focus:!border-[#662222] outline-none" placeholder="km" />
                </div>

                <div class="text-gray-700 hidden md:block m-0 pt-7">
                  <i class="pi pi-arrow-right text-xs lg:text-sm"></i>
                </div>

                <div class="flex-1 min-w-[120px]">
                  <label class="block mb-1 text-base font-bold text-gray-700 uppercase tracking-wider">運費金額</label>
                  <p-inputnumber [(ngModel)]="shippingFee.fee" inputId="integeronly" styleClass="w-full"
                    inputStyleClass="w-full h-11 border border-gray-300 rounded-lg px-3
                      focus:!border-[#662222] outline-none" />
                </div>

              </div>

            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <!--------------->

    <div class="flex flex-col gap-3 md:col-span-1">
      <div>
        <i class="pi pi-image"></i>
        <label class="text-lg font-bold text-gray-700 ml-2">店家圖片</label>
      </div>
      <div class="w-full max-w-xs space-y-3">
        <div class="relative group mx-auto border-2 border border-gray-300 rounded-2xl overflow-hidden bg-gray-50
        hover:border-[#662222] transition-all w-full max-w-lg aspect-video">
          @if (storeData.image) {
          <img [src]="storeData.image" class="w-full h-full object-contain" />
          <div
            class="absolute inset-0 bg-black/40 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
            <div class="text-white text-center">
              <i class="pi pi-camera text-2xl mb-1"></i>
              <p class="text-base font-semibold">更換照片</p>
            </div>
          </div>
          <button (click)=" removeImage($event)" class="absolute top-2 right-2 p-1.5 bg-[#662222] text-white rounded-full shadow-lg hover:bg-[#662222]/70
            transition-transform scale-0 group-hover:scale-100 z-10">
            <i class="pi pi-times text-[10px]"></i>
          </button>
          } @else {
          <div class="flex flex-col items-center justify-center h-full space-y-2 p-5">
            <div class="p-4 bg-[#662222]/10 rounded-full">
              <i class="pi pi-image text-[#662222] text-3xl"></i>
            </div>
            <div class="text-center">
              <p class="text-sm font-semibold text-[#662222]">點擊上傳照片</p>
              <p class="text-sm text-gray-700 font-semibold">推薦比例：16:9 或 2:1</p>
              <p class="text-sm text-gray-700 font-semibold">建議尺寸：1920 x 1080 (WebP, JPG)</p>
              <p class="text-sm text-gray-700 font-semibold ">檔案大小 80KB 以下</p>
            </div>
          </div>
          }
          <input type="file" class="absolute inset-0 opacity-0 cursor-pointer" accept="image/*"
            (change)="onFileSelected($event)" />
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-2 md:col-span-2 mt-2">
      <div>
        <i class="pi pi-clipboard"></i>
        <label class="text-lg font-bold text-gray-700 ml-2">關於店家的備註</label>
      </div>
      <textarea rows="4" [(ngModel)]="storeData.memo"
        class="w-full p-3 border border-gray-300 rounded-xl focus:border focus:border-[#662222]/90 focus:!border-[#662222] outline-none transition-all p-2 pl-3"
        placeholder="請輸入店家的詳細介紹或備註...">
      </textarea>
    </div>
  </div>


  <div class="mt-12 flex justify-end gap-4  pt-6">
    <button class="px-8 py-3 cursor-pointer text-gray-500 font-semibold hover:text-gray-700 transition-colors"
      (click)="cancelStore()">
      取消
    </button>
    <button (click)="onSubmit()"
      class="px-10 py-3 cursor-pointer bg-[#662222] text-white font-bold rounded-xl hover:bg-[#882222] shadow-lg hover:shadow-blue-200 transition-all transform active:scale-95">
      下一步
    </button>
  </div>
</div>

<!-------------- alert Dialog -------------->
<p-dialog [(visible)]="displayAlertDialog" [modal]="true" [draggable]="false" [resizable]="false"
  [style]="{ width: '400px', 'border-radius': '1.5rem' }" [showHeader]="false">

  <div class="p-8 text-center">
    <div class="flex justify-center mb-6">
      <div class="bg-red-50 rounded-full p-4">
        <i class="pi pi-exclamation-circle text-[#662222]" style="font-size: 3rem"></i>
      </div>
    </div>

    <h2 class="text-2xl font-bold text-gray-800 mb-3">請填寫完整資訊</h2>

    <p class="text-gray-600 leading-relaxed text-center inline-block w-full px-4" style="white-space: pre-line;">
      {{ alertMessage }}
    </p>

    <div class="mt-8">
      <button type="button" (click)="displayAlertDialog = false"
        class="w-full cursor-pointer bg-[#662222] hover:bg-[#4d1a1a] text-white font-bold py-3 px-6 rounded-2xl shadow-lg transition duration-300 ease-in-out transform active:scale-95">
        確認
      </button>
    </div>
  </div>
</p-dialog>

<!-------------- 電話已使用過、不符合正規表達式 Dialog -------------->
<p-dialog [(visible)]="displayPhoneUsedDialog" [modal]="true" [draggable]="false" [resizable]="false"
  [style]="{ width: '400px', 'border-radius': '1.5rem' }" [showHeader]="false">

  <div class="p-8 text-center">
    <div class="flex justify-center mb-6">
      <div class="bg-red-50 rounded-full p-4">
        <i class="pi pi-exclamation-circle text-[#662222]" style="font-size: 3rem"></i>
      </div>
    </div>

    @if(isPhoneUsed){
    <h2 class="text-2xl font-bold text-gray-800 mb-3">電話已被使用過</h2>
    <p class="text-gray-600 leading-relaxed text-center inline-block w-full px-4" style="white-space: pre-line;">
      請再重新輸入電話或手機號碼
    </p>
    }
    @if(!this.phoneRegex.test(this.storeData.phone)){
    <h2 class="text-2xl font-bold text-gray-800 mb-3">請輸入正確電話或手機號碼</h2>
    <div class="text-gray-600 leading-relaxed text-center inline-block w-full px-4">
      <p>請確認號碼不含「-」或空格等</p><p>特殊符號</p>
      <p>範例：</p><p>市話 061234567</p><p>手機 0912345678</p>
    </div>
    }

    <div class="mt-8">
      <button type="button" (click)="displayPhoneUsedDialog = false"
        class="w-full cursor-pointer bg-[#662222] hover:bg-[#4d1a1a] text-white font-bold py-3 px-6 rounded-2xl shadow-lg transition duration-300 ease-in-out transform active:scale-95">
        確認
      </button>
    </div>
  </div>
</p-dialog>
