// focus 時文字(placeholder)在邊框的顏色 (( 輸入文字 type = input
.p-floatlabel:has(input:focus) label {
  color: #662222 !important;
  font-weight: 600;
}

// focus 時營業、休息時間的邊框
::ng-deep {
  .p-datepicker:not(.p-disabled).p-focus > .p-inputtext {
    border: 1px !important;
    border-color: #662222 !important;
    box-shadow: 0 0 0 1px rgba(102, 34, 34) !important;
  }
}

// focus 時文字(placeholder)在邊框的顏色 (( 經營類別 type = select
::ng-deep .p-floatlabel:has(.p-focus) label {
  color: #662222 !important;
}

// checkbox css
::ng-deep {
  .p-checkbox-checked .p-checkbox-box {
    background: #662222 !important;
    border-color: #662222 !important;
  }
  .p-checkbox:not(.p-disabled):hover .p-checkbox-box {
    border-color: #662222 !important;
  }
}

// close 瀏覽器的 Autofill 機制
:host ::ng-deep .p-floatlabel input:focus ~ label,
:host ::ng-deep .p-floatlabel input.p-filled ~ label {
  color: #662222 !important; /* 確保標籤維持你的品牌色，而不是預設綠色 */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  /* 背景顏色：如果想維持白色，可以用 shadow 蓋掉 */
  transition: background-color 5000s ease-in-out 0s;
}

:host ::ng-deep .p-autocomplete {
  display: flex;
  width: 100%;
}

:host ::ng-deep .p-inputtext {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
