:host {
  --p-tabs-tab-padding: 0.5rem 1.25rem;
  --p-tabs-tab-border-radius: 999px;

  --p-tabs-tab-color: #662222;
  --p-tabs-tab-active-color: #ffffff;

  --p-tabs-tab-background: transparent;
  --p-tabs-tab-active-background: #662222;
  --p-tabs-active-bar-background: #662222;
}

.p-button {
  background: #662222;
  border-color: #662222;
  font-weight: 600;
}

.p-button:hover {
  background: #561c1c;
  border-color: #561c1c;
}
