<body class="bg-slate-50 text-slate-800 antialiased h-svh">
  <div class="max-w-4xl mx-auto py-12 px-6 lg:py-20">
    <p-tabs value="active">
      <p-tablist>
        <p-tab value="active">進行中訂單</p-tab>
        <p-tab value="history">歷史訂單</p-tab>
      </p-tablist>

      <p-tabpanels>
        <p-tabpanel value="active">
          <ng-container
            *ngTemplateOutlet="orderList; context: { $implicit: activeOrders, openValues: activeOpenValues }"></ng-container>
        </p-tabpanel>

        <p-tabpanel value="history">
          <ng-container
            *ngTemplateOutlet="orderList; context: { $implicit: historyOrders, openValues: historyOpenValues }"></ng-container>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</body>

<ng-template #orderList let-orders let-openValues="openValues">
  <p-accordion [value]="openValues" [multiple]="true">
    @for (o of orders; track o.code) {
    <p-accordion-panel [value]="o.code">
      <p-accordion-header>
        <div class="order-header flex justify-between items-center w-full">
          <div class="flex flex-row gap-6 items-center">
            <div class="title font-bold">#{{ o.code }}｜{{ o.storeName }}</div>
            <div class="sub text-base text-slate-700">{{ o.createdAt | date:'yyyy/MM/dd HH:mm' }}</div>
            <p-tag [value]="o.statusLabel" [severity]="getStatusSeverity(o.statusLabel)" />
          </div>
        </div>
      </p-accordion-header>

      <p-accordion-content>
        <div class="order-body space-y-4">
          <div class="grid grid-cols-2 gap-4 border-b pb-2">
            <div class="font-bold text-base">收件人：{{ o.receiverName }}</div>
            <div class="font-bold text-base">電話：{{ o.phone }}</div>
          </div>

          <div class="items space-y-2">
            @for (it of o.items; track $index) {
            <div class="item">
              <div class="font-medium font-bold">{{ it.name }}</div>
              <div class="text-base font-bold text-slate-600">
                x{{ it.qty }}｜{{ it.price }} 元
                @if (it.note) { <span class="text-orange-500">｜備註：{{ it.note }}</span> }
              </div>
            </div>
            }
          </div>

          <div class="total text-right font-bold text-lg border-t pt-2">
            總計：{{ o.total }} 元
          </div>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
    } @empty {
    <div class="p-8 text-center font-bold text-lgtext-slate-700">目前沒有訂單</div>
    }
  </p-accordion>
</ng-template>