<div class="flex justify-center mb-4">
  <a class="text-3xl font-bold">
    購物車
  </a>
</div>
<div class="card">
  <p-toast></p-toast>
  <p-steps [model]="items" [readonly]="true" [activeIndex]="activeIndex"
    [styleClass]="'ggb-progress completed-' + activeIndex" [style.--ggb-count]="items?.length || 1"
    [style.--ggb-progress]="progressRatio">
  </p-steps>
</div>
<div class="Outline mt-4">
  @switch (activeIndex) {
  @case (0) {
  <!-- 購物車 -->
  <section class="max-w-[1440px] mx-auto p-4">
    <div class="bg-white py-[32px] px-[16px] mt-[16px] font-bold text-2xl rounded-lg shadow-sm">
      商店名稱
      <p>迷客夏(歸仁店)</p>
      <!-- <span>{{ '{商店名稱(user.id use event_id => groupbuy_events get store.id => store get store.name)}' }}</span> -->
    </div>

    <div class="bg-white py-[32px] px-[16px] mt-[16px] font-bold text-2xl rounded-lg shadow-sm">
      餐點明細
      <div class="mt-4 divide-y divide-gray-200 font-normal">
        <div class="py-4">
          <p class="flex items-center justify-between font-bold">
            <span class="text-[#E07A3F]">桂香原片青</span>
            <span>$20元</span>
          </p>
          <p class="text-base text-gray-500">去冰，正常糖</p>
        </div>

        <div class="py-4">
          <p class="flex items-center justify-between font-bold">
            <span class="text-[#E07A3F]">桂香輕蕎麥</span>
            <span>$20元</span>
          </p>
          <p class="text-base text-gray-500">微冰，半糖</p>
        </div>

        <div class="py-4">
          <p class="flex items-center justify-between font-bold">
            <span class="text-[#E07A3F]">娜杯紅茶</span>
            <span>$20元</span>
          </p>
          <p class="text-base text-gray-500">少冰，少糖</p>
        </div>

        <div class="py-4">
          <p class="flex items-center justify-between font-bold">
            <span class="text-[#E07A3F]">英倫伯爵紅茶</span>
            <span>$20元</span>
          </p>
          <p class="text-base text-gray-500">正常冰，多糖</p>
        </div>

        <div class="py-4">
          <p class="flex items-center justify-between font-bold">
            <span class="text-[#E07A3F]">茉莉原淬綠茶</span>
            <span>$20元</span>
          </p>
          <p class="text-base text-gray-500">多冰，無糖</p>
        </div>
      </div>

      <!-- <span>{{' {use user_id and event_id get personal_order} '}}</span> -->
      <br>
      <a class="cursor-pointer text-[#E07A3F] text-lg text-red-700" (click)="gotoshop()">
        繼續加購(返回加購頁面)
      </a>
    </div>

    <div class="bg-white py-[32px] px-[16px] mt-[16px] font-bold text-2xl rounded-lg shadow-sm">
      <p class="flex items-center justify-between font-bold">
        <span>餐點總計</span>
        <span>$100元</span>
      </p>
    </div>
  </section>

  <section class="max-w-[1340px] mx-auto p-4">
    <div class="h-[60px] mt-[16px] rounded-lg shadow-sm flex flex-row gap-4">
      <div class=" bg-gray-300 flex-1 text-center font-bold flex items-center justify-center cursor-pointer"
        (click)="backtocart()">
        <span class="font-bold text-2xl">返回購物車</span>
      </div>

      <div class="flex-1 text-center font-bold flex items-center justify-center cursor-pointer bg-[#769902]"
        (click)="nextStep()">
        <span class="font-bold text-white text-2xl">下一步</span>
      </div>
    </div>
  </section>
  }

  @case (1) {
  <!-- Payment -->
  <section class="max-w-[1440px] mx-auto p-4">
    <div class="bg-white p-6 mt-[16px] font-bold text-2xl">
      取貨人姓名
      <br>
      <div class="mt-2 mb-4">
        <input
          class="w-full px-4 py-3 rounded-xl border border-red-900/15 bg-white/80 outline-none focus:border-red-900/40"
          placeholder="請填入訂購者取貨名稱" />
      </div>

      連絡電話
      <div class="mt-2 mb-4">
        <input
          class="w-full px-4 py-3 rounded-xl border border-red-900/15 bg-white/80 outline-none focus:border-red-900/40"
          placeholder="請填入訂購者連絡電話" />
      </div>

      備註
      <div class="mt-2">
        <input
          class="w-full px-4 py-3 rounded-xl border border-red-900/15 bg-white/80 outline-none focus:border-red-900/40"
          placeholder="請填入給店家的備註" />
      </div>
    </div>

    <div class="bg-white py-[32px] px-[16px] mt-[16px] font-bold text-2xl flex flex-col gap-3">
      付款方式
      <br>
      <div class="flex flex-row gap-2">
        <input type="radio">
        <label>現金</label>
      </div>

      <div class="flex flex-row gap-2">
        <input type="radio">
        <label>LinePay</label>
      </div>

      <div class="flex flex-row gap-2">
        <input type="radio">
        <label>信用卡</label>
      </div>

      <div class="flex flex-row gap-2">
        <input type="radio">
        <label>台灣Pay</label>
      </div>

      <div class="flex flex-row gap-2">
        <input type="radio">
        <label>PayPal</label>
      </div>

      <div class="flex flex-row gap-2">
        <input type="radio">
        <label>綠界支付</label>
      </div>

      <div class="flex flex-row gap-2">
        <input type="radio">
        <label>支付寶</label>
      </div>
    </div>
  </section>

  <section class="max-w-[1340px] mx-auto p-4">
    <div class="h-[60px] mt-[16px] rounded-lg shadow-sm flex flex-row gap-4">
      <div class="flex-1 flex items-center justify-center cursor-pointer" (click)="prevStep()"><span
          class="font-bold text-xl">上一步</span></div>
      <div class="flex-1 flex items-center justify-center cursor-pointer bg-[#769902]" (click)="nextStep()"><span
          class="font-bold text-white text-xl">下一步</span></div>
    </div>
  </section>
  }

  @case (2) {
  <!-- Confirmation -->
  <div class="bg-white p-6 mt-[16px] font-bold text-2xl">
    內容
  </div>


  <div class="bg-white h-[90px] mt-[16px] flex">
    <div class="flex-1 flex items-center justify-center cursor-pointer" (click)="prevStep()"><span
        class="font-bold text-xl">上一步</span></div>
    <div class="flex-1 flex items-center justify-center cursor-pointer bg-[#769902]" (click)="nextStep()"><span
        class="font-bold text-white text-xl">下一步</span></div>
  </div>
  }
  }
</div>
