<div class="max-w-3xl mx-auto py-12 px-6 lg:py-20 antialiased">
  <header class="text-center mb-16">
    <h1 class="text-4xl font-extrabold text-slate-900 mb-4 tracking-tight">常見問題</h1>
  </header>

  <div class="space-y-4">
    @for (item of faqs; track item.question) {
    <div
      class="border border-slate-200 rounded-2xl bg-white overflow-hidden transition-all duration-300 hover:shadow-md mb-4">

      <button (click)="toggleFaq(item)"
        class="w-full flex items-center justify-between p-6 text-left cursor-pointer focus:outline-none border-none bg-transparent">
        <div class="pr-8">
          <span class="text-base font-bold text-blue-600 uppercase tracking-widest mb-1 block">
            {{ item.category }}
          </span>
          <h3 class="text-lg font-bold text-slate-800 leading-tight">
            {{ item.question }}
          </h3>
        </div>

        <svg class="w-5 h-5 text-slate-400 transition-transform duration-300"
          [style.transform]="item.isOpen ? 'rotate(180deg)' : 'rotate(0deg)'" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
      </button>

      @if (item.isOpen) {
      <div
        class="p-6 pt-0 text-slate-600 text-base font-bold whitespace-pre-line leading-relaxed border-t border-slate-50 mt-2">
        {{ item.answer }}
      </div>
      }
    </div>
    }
  </div>

  <p class="text-slate-700 text-center text-base font-semibold">找不到您的答案？請聯繫我們的線上客服。</p>

  <div class="mt-10 p-8 help rounded-3xl text-center shadow-xl shadow-blue-200">
    <h2 class="text-2xl font-bold text-white mb-4">還有其他問題嗎？</h2>
    <p class="mb-6 text-base font-bold text-white">我們的客服團隊會在週一至週五 09:00 - 18:00 為您服務。</p>
    <div class="flex flex-wrap justify-center gap-4">
      <!-- <button
        class="cursor-pointer bg-white text-orange-600 px-8 py-3 rounded-full font-bold hover:bg-orange-100 transition-colors shadow-md shadow-black/20">
        聯絡線上客服
      </button> -->
      <button class="cursor-pointer helpBt text-white px-8 py-3 rounded-full font-bold transition-colors border">
        發送電子郵件
      </button>
    </div>
  </div>

</div>
