<header>
  <!-- LOGO -->
  <img routerLink="gogobuy" src="GogoBuy.Newpng.png" class="logo">
  <nav>
    <!-- 右側功能列表 -->
    <ul>
      <li><i class="pi pi-bell" style="color: rgb(255, 255, 255); font-size: 1.5rem"></i></li>
      <li><i class="pi pi-cart-plus" style="color: rgb(255, 255, 255); font-size: 1.5rem"></i></li>
      <!-- 未登入時 -->
      <li><a href="#">登入</a></li>
      <!-- 有登入時 -->
      <li>
      <img
        [src]="userAvatar"
        class="w-9 h-9 rounded-full cursor-pointer"
        (click)="menu.toggle($event)"
        alt="avatar">
      <p-menu #menu [popup]="true" [model]="items" appendTo="body"></p-menu></li>
    </ul>
  </nav>
</header>

<!-- 顯示頁面 -->
<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="footer-container">
    <div class="footer-info">
      <h4>聯繫我們</h4>
      <p>地址：台南市歸仁區歸仁十三路一段6號</p>
      <p>電話：(06) 303 2550</p>
    </div>
    <div class="footer-links">
      <a href="#">隱私政策</a>
      <a> | </a>
      <a href="#">服務條款</a>
      <a> | </a>
      <a href="#">常見問題</a>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2026 GogoBuy
  </div>
</footer>
