.topbar{
  position: sticky;
  top: 0;
  z-index: 1000;
}
/* --- HEADER --- */
header {
  background-color: var(--brand-primary);
  border-bottom: 2px solid var(--brand-primary);
  padding: 0.3rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: var(--footer-text);
  font-weight: 500;
  transition: color 0.3s;
}

nav i {
  text-decoration: none;
  color: var(--footer-text);
  font-weight: 500;
  transition: color 0.3s;
}

nav i:hover {
  color: var(--accent-orange);
}

nav a:hover {
  color: var(--accent-orange);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  border: 2px solid #fff;
}



/* --- MAIN --- */
main {
  flex: 1;
  // min-height: 100vh;
  /* 自動撐開空間 */
}

.marquee {
  width: 100%;
  overflow: hidden;
  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 0;
  top: 64px;
  /* ✅改成你的 header 實際高度 */
  z-index: 999;
  position: static;
}

.marquee__track {
  display: flex;
  width: max-content;
  animation: marquee 15s linear infinite;
}

.marquee__group {
  display: flex;
}

.marquee__item {
  padding: 0 20px;
  white-space: nowrap;
}

.marquee:hover .marquee__track {
  animation-play-state: paused;
}

/* 移動半條（因為有兩份一樣的 group） */
@keyframes marquee {
  from {
    transform: translateX(400%);
  }

  to {
    transform: translateX(-100%);
  }
}


/* --- FOOTER --- */
footer {
  position: static;
  bottom: 0%;
  background-color: var(--footer-bg);
  color: var(--footer-text);
  padding: 10px 0px 10px 0px;
  margin-top: auto;
  width: 100%;

}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-info p {
  font-size: 0.9rem;
  line-height: 1.8;
}

.footer-bottom {
  text-align: center;
  margin-top: 10px;
  padding-top: 20px;
  border-top: 1px solid rgba(244, 234, 234, 0.2);
  /* 使用 footer-text 的透明度 */
  color: var(--text-disabled);
  font-size: 0.8rem;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
