<div class="topbar-wrapper">
  <header class="relative flex items-center px-4">
    <!-- 左：LOGO + nearby（怎麼變寬都不影響置中） -->
    <!-- pTooltip說明：
          (1) pTooltip 為氣泡內容
          (2) tooltipPosition 為氣泡顯示位置可以使用 right 、 left 、 top 、 bottom
          (3) [positionLeft] 適用於 tooltipPosition 為 right 或 left 的時候
          (4) [positionTop] 適用於 tooltipPosition 為 top 或 bottom 的時候
          (5) [showDelay] 用於調整 pTooltip 顯示延遲時間-->
    <div class="flex items-center gap-3 flex-none">
      <img routerLink="gogobuy" src="ggb3.png" class="logo cursor-pointer h-13" pTooltip="點擊返回首頁"
        tooltipPosition="bottom" [showDelay]="50">
      @if (nearby) {
      <app-nearby-bar class="hidden md:block" pTooltip="搜尋附近商家" tooltipPosition="bottom"
        [positionTop]="5"></app-nearby-bar>
      }
    </div>

    <!-- 中：搜尋欄「固定置中」(桌機才顯示，手機用下面那條 search-mobile) -->
    @if (showSearch) {
    <div class="disappear absolute left-1/2 -translate-x-1/2 w-full max-w-[560px] px-4">
      <p-inputgroup class="w-full">
        <p-select [options]="category" optionLabel="name" optionValue="value"
          (onChange)="onSearchModeChangePrime($event)" styleClass="!w-28">
        </p-select>

        <input pInputText #searchInput type="text" [placeholder]="searchPlaceholder()"
          (keyup.enter)="onSearch(searchInput.value)" [ngModel]="manualAddress()"
          (ngModelChange)="manualAddress.set($event); enableNearbyManual();" class="!w-full" />

        <button pButton type="button" icon="pi pi-search" class="p-button-danger" (click)="onSearch(searchInput.value)">
        </button>
      </p-inputgroup>
    </div>
    }



    <nav>
      <!-- 右側功能列表 -->
      <ul class="items-center justify-center disappear">
        <!-- 管理者介面 -->
        @if(isAdmin()){
        <li>
          <i class="pi pi-wrench nav-icon cursor-pointer" style="font-size: 1.5rem" (click)="toDashboard()"
            pTooltip="點擊進入管理" tooltipPosition="bottom" [positionTop]="5"></i>
        </li>
        }
        <!-- 通知鈴鐺 -->
        @if (isLoggedIn){
        <li>
          <app-notification-bell class="pi" pTooltip="點擊查看通知" tooltipPosition="bottom"
            [positionTop]="5"></app-notification-bell>
        </li>
        <li><i class="pi pi-receipt nav-icon cursor-pointer" style="font-size: 1.5rem" (click)="goorders()"
            pTooltip="點擊查看訂單" tooltipPosition="bottom" [positionTop]="5"></i></li>
        <li>
          @if (userAvatar()) {
          <img [src]="userAvatar()" alt="User Avatar" class="avatar-style"
            class="w-[24px] h-[25px] rounded-full cursor-pointer" (click)="onUserClick($event, menu)"
            pTooltip="點擊查看功能選單" tooltipPosition="bottom" [positionTop]="5" />
          } @else {
          <i class="pi pi-user nav-icon cursor-pointer" style=" color: rgb(255, 255, 255); font-size: 1.5rem"
            (click)="menu.toggle($event)" pTooltip="點擊查看功能選單" tooltipPosition="bottom" [positionTop]="5"></i>
          }
        </li>
        } @else {
        <li><i class="pi pi-user nav-icon cursor-pointer" style=" color: rgb(255, 255, 255); font-size: 1.5rem"
            (click)="this.router.navigate(['gogobuy/login'])" pTooltip="點擊進行登入" tooltipPosition="left"
            [positionLeft]="-5"></i></li>
        }
      </ul>
    </nav>
  </header>
  <p-menu #menu [popup]="true" [model]="filteredItems" appendTo="body"></p-menu>

  <!-- 跑馬燈 -->
  @if(showMarquee){
  <div class="marquee">
    <div class="marquee__track">
      <div class="marquee__group">
        <span class="marquee__item font-bold text-lg">🛡️ 【官方防詐聲明】
          我們「絕不會」主動要求您提供：

          密碼、銀行帳號、ATM 匯款操作等個人資訊，若出現以上行為，皆為詐騙。</span>
      </div>
    </div>
  </div>
  }
</div>

<!-- 手機板搜尋欄，class="search-mobile"讓搜尋欄只在手機板出現 -->
@if (showSearch) {
<div class="search-mobile">
  <div class="relative flex items-center w-full md:w-[560px] group">

    <p-inputgroup class="w-full">
      <!-- 分類 -->
      <p-select [options]="category" optionLabel="name" optionValue="value" (onChange)="onSearchModeChangePrime($event)"
        styleClass="!w-28"></p-select>

      <!-- 關鍵字 -->
      <input pInputText #searchInput type="text" [placeholder]="searchPlaceholder()"
        (keyup.enter)="onSearch(searchInput.value)" class="!w-full" />

      <!-- 按鈕放回 inputgroup 內（不要 absolute） -->
      <button pButton type="button" icon="pi pi-search" class="p-button-danger"
        (click)="onSearch(searchInput.value)"></button>
    </p-inputgroup>
  </div>
</div>
}


<!-- main(顯示頁面，其他網頁主要修改) -->
<main class="bg-[#F8FAFC] flex-1" [class.has-marquee]="showMarquee">
  <router-outlet></router-outlet>
</main>

<!-- footer -->
<footer>
  <div class="footer-container footer-info">
    <a class="font-bold cursor-pointer underline decoration-1 hover:text-blue-200" (click)="contactUs()">聯繫我們</a>
    <p class="font-bold">地址：台南市歸仁區歸仁十三路一段6號</p>
    <p class="font-bold">電話：(06) 303 2550</p>
  </div>
  <div class="footer-bottom">
    <a class="font-bold text-base">&copy; 2026 GogoBuy</a>
  </div>
</footer>


<!-- 常見問題+氣泡 -->
@if(!showProblem){
<button class="question" type="button" balloon-data="有甚麼疑問嗎?點擊這裡" aria-label="常見問題"
  (click)="problemMenu.toggle($event)">
  ?
</button>
<p-menu #problemMenu [popup]="true" [model]="problems"></p-menu>
}
<!-- 手機 footer 依 router.url 判斷目前頁籤並高亮 -->
<div class="footer-mobile">
  <!-- 首頁 -->
  <a routerLink="gogobuy/home">
    <div>
      <i class="pi pi-home cursor-pointer" style="font-size: 1.5rem"
        [ngStyle]="{ 'color': (router.url == '/gogobuy/home') ? 'rgb(252, 165, 165)' : '' }"></i>
    </div>
    <div [ngStyle]="{ 'color': (router.url == '/gogobuy/home') ? 'rgb(252, 165, 165)' : '' }">
      訂購
    </div>
  </a>

  <!-- 購物車 -->
  <a>
    <div>
      <i class="pi pi-cart-plus cursor-pointer" style="font-size: 1.5rem"></i>
    </div>
    <div>
      購物車
    </div>
  </a>
  <!-- 訂單 -->
  <a routerLink="/user/orders">
    <div>
      <i class="pi pi-receipt cursor-pointer" style="font-size: 1.5rem"
        [ngStyle]="{ 'color': (router.url == '/user/orders') ? 'rgb(252, 165, 165)' : '' }"></i>
    </div>
    <div [ngStyle]="{ 'color': (router.url == '/user/orders') ? 'rgb(252, 165, 165)' : '' }">
      訂單
    </div>
  </a>
  <!-- 通知訊息 -->
  <a routerLink="/user/notifications" class="flex flex-col items-center">
    <div>
      <i class="pi pi-bell cursor-pointer" style="font-size: 1.5rem"
        [ngStyle]="{ 'color': (router.url == '/user/notifications') ? 'rgb(252, 165, 165)' : '' }"></i>
    </div>
    <div [ngStyle]="{ 'color': (router.url == '/user/notifications') ? 'rgb(252, 165, 165)' : '' }">
      通知
    </div>
  </a>
  <!-- 我的 -->
  <a routerLink="/user/profile">
    <div>
      <i class="pi pi-user cursor-pointer" style=" color: rgb(255, 255, 255); font-size: 1.5rem"
        [ngStyle]="{ 'color': (router.url == '/user/profile'||router.url =='/user/profile/edit') ? 'rgb(252, 165, 165)' : '' }"></i>
    </div>
    <div
      [ngStyle]="{ 'color': (router.url == '/user/profile'||router.url =='/user/profile/edit') ? 'rgb(252, 165, 165)' : '' }">
      我的
    </div>
  </a>
</div>
