<div class="min-h-screen bg-slate-100 px-6 py-10">
  <div class="max-w-4xl mx-auto">
    <!-- 標題區 -->
    <div class="flex items-center justify-between mb-8">
      <div>
        <h1 class="text-[35px] font-black text-red-900 tracking-tight">通知</h1>
        <p class="text-[20px] text-slate-600 mt-1 font-bold">
          查看你的最新系統通知與提醒
        </p>
        <p class="text-base font-semibold text-slate-400 mt-1">
          超過 30 天的通知將自動刪除
        </p>
        <!-- 給開發者，事實上sseService中還有一個限制:
         localStorage只會保存50筆資料，為防止過度儲存，
         可以於sseService中修改或刪除此限制 -->
      </div>
    </div>

    <!-- 通知列表 -->
    @if (notifications.length == 0) {
    <!-- 空狀態 -->
    <div class="bg-white rounded-2xl p-10 text-center shadow">
      <p class="text-[16px] text-slate-500">目前沒有任何通知</p>
    </div>
    } @else {

    <!-- 顯示區間文字：第 1 至 10 條，共 N 條 -->
    <div class="flex items-center justify-between mb-3">
      <p class="text-base font-semibold text-slate-600">
        顯示第 {{ startIndex }} 至 {{ endIndex }} 條，共 {{ totalRecords }} 條
      </p>
      <button type="button" class="text-base font-bold text-red-900 hover:underline cursor-pointer "
        (click)="markAllRead()">
        全部已讀
      </button>
    </div>

    <!-- 列表：只渲染當頁 -->
    <div class="space-y-4">
      @for (n of pageItems; track n.id) {
      <div
        class="relative bg-white rounded-2xl p-6 shadow transition hover:shadow-md cursor-pointer hover:bg-slate-50 hover:inset-ring"
        [class.border-l-4]="!n.isRead" [class.border-red-900]="!n.isRead" (click)="onClickNotification(n)">
        @if (!n.isRead) {
        <span class="absolute top-6 right-6 w-3 h-3 rounded-full bg-red-900"></span>
        }

        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-3">
            <h2 class="text-[18px] font-extrabold text-slate-900">
              {{ n.title }}
            </h2>

            @if (!n.isRead) {
            <span class="text-base font-bold text-red-900 bg-red-100 px-2 py-0.5 rounded-full">
              未讀
            </span>
            }
          </div>

          <p class="text-[15px] font-semibold text-slate-700 leading-relaxed">
            {{ n.message }}
          </p>

          <p class="text-[14px] font-semibold text-slate-500">
            {{ n.createdAt }}
          </p>
        </div>
      </div>
      }
    </div>

    <!-- Paginator -->
    <div class="mt-6">
      <p-paginator class="text-slate-700! font-bold!" [first]="first" [rows]="rows" [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[5, 10, 20, 30]" (onPageChange)="onPageChange($event)"></p-paginator>
    </div>
    }
  </div>
</div>
